<?xml version="1.0" encoding="UTF-8"?>
<rss version="2.0">
  <channel>
    <title>{{site.title | xml_escape}}</title>
    <link>{{site.permalink}}</link>
    <pubDate>{{site.date | date_to_rfc822}}</pubDate>
    {% for post in site.pages.blog.posts limit:20 %}
    <item>
      <title>{{post.title | xml_escape}}</title>
      <link>{{post.permalink}}</link>
      <pubDate>{{post.date | date_to_rfc822}}</pubDate>
      <author>{{post.user.firstname | xml_escape}} {{post.user.lastname | xml_escape}}</author>
      <guid>{{post.permalink}}</guid>
      <description>{{post.body | xml_escape}}</description>
    </item>
    {% endfor %}
  </channel>
</rss>
